#panelWrap section:first-child{
    background-image:
            url(../file_assets/left-home.png),
            url(../file_assets/right-triangle.png);
    background-position: left, right;
    background-size: contain, 40%;
    background-repeat: no-repeat;
}

#panelWrap section{
    background-image:
            url(../file_assets/left-triangle.png),
            url(../file_assets/right-triangle.png);
    background-position: left, right;
    background-size: 39%, 34%;
    background-repeat: no-repeat;
}
@media (max-width: 1500px) {
    #panelWrap section:first-child{
        background-image:
                url(../file_assets/left-home.png),
                url(../file_assets/right-triangle.png);
        background-position: -227px, right;
        background-size: contain, 40%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 1050px) {
    #panelWrap section,
    #panelWrap section:first-child{
        background-image:
                url(../file_assets/right-triangle.png);
        background-position: right;
        background-size: 65%;
        background-repeat: no-repeat;
    }
}