#panelWrap section:first-child{
    background-image:
            url(../file_assets/left-home.png),
            url(../file_assets/right-triangle.png);
    background-position: left, right;
    background-size: contain, 40%;
    background-repeat: no-repeat;
}

#panelWrap section{
    background-image:
            url(../file_assets/left-triangle.png),
            url(../file_assets/right-triangle.png);
    background-position: left, right;
    background-size: 39%, 34%;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    #panelWrap section{
        background-image:
                url(../file_assets/left-triangle.png);
        background-position: left;
        background-size: 80%;
        background-repeat: no-repeat;
    }
}